@media (max-width: 1170px) {
    .wrapper .container section.headerSection {
        margin: 90px 0 0 0;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .wrapper .container header {
        background-image: url("../../assets/images/LogoYummy.png");
        background-size: 50px 50px;
        width: 100%;
        background-position: left 10px top 10px;
    }

    .wrapper .container section.headerSection h1 {
        font-size: 70px;
        letter-spacing: 4px;
        line-height: 70px;
    }

    .wrapper .container section.headerSection {
        background-image: url("../../assets/images/photoYummyHeader.png");
        background-size: 400px 421px;
        background-position: right 10px top 10px;
    }
}

@media (max-width: 900px) {
    .wrapper .container section.headerSection {
        background-size: 200px 211px;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

@media (max-width: 770px) {
    .wrapper .container section.headerSection {
        margin: 20px 0 0 0;
        padding: 0 10px;
        box-sizing: border-box;
        background-size: 100px 106px;
    }

    .wrapper .container section.headerSection h1 {
        font-size: 40px;
        line-height: 40px;
        margin-top: 70px;
        letter-spacing: 4px;
    }

    .wrapper .container section.headerSection p {
        width: 100%;
    }

    .wrapper .container section.headerSection a button {
        margin-top: 40px;
        width: auto;
        font-size: 16px;
    }

    .wrapper .container header nav {
        display: none;
    }

    .wrapper .container section.headerSection a button {
        font-size: 14px;
        padding: 10px 40px;
    }
}

@media (max-width: 570px) {
    .wrapper .container section.headerSection {
        background-size: 70px 73px;
    }

    .wrapper .container section.headerSection h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .wrapper .container section.headerSection p {
        font-size: 14px;
        margin-top: 20px;
    }

    .wrapper .container header {
        background-size: 40px 40px;
        background-position: left 10px top 10px;
    }
}
